.body{
    padding: 20px;
    background-image: url(/src/assets/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  #quotes{
    padding: 10px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    background-image: url("https://image.shutterstock.com/image-photo/wood-texture-background-planks-260nw-529326181.jpg");
    border-radius: 30px;
    width: 50%;
    font-size: 25px;
    color: white;
    
  }
  #fontincrease{
    font-size: 20px;
  }
  #sticky{
    position: sticky;
    top: 0;
    background-color: rgb(56, 24, 16);
    text-align: center;
  }
  